body {
    animation: fadeInDown 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes fadeInDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* รอ index ที่ 3 ใช้ link styleitemcode.css */